<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cosine.boat">
		
    <!--<application
		android:theme="@style/BoatTheme" 
		android:label="@string/app_name" 
		android:largeHeap="true"
		android:icon="@drawable/ic_boat">
        <activity 
			android:label="@string/app_name" 
			android:name="LauncherActivity" 
			android:configChanges="keyboardHidden|orientation">
        </activity>
		<service 
			android:name="ru.ivanarh.jndcrash.NDCrashService" 
			android:process=":reportprocess"/>
		<service 
			android:name="cosine.boat.logcat.LogcatService" 
			android:process=":logcatprocess"/>
		<activity android:name="BoatClientActivity"
			android:theme="@style/FullScreenTheme"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:screenOrientation="sensorLandscape">
			
			<meta-data 
				android:name="android.app.lib_name"
				android:value="client" />
			
        </activity>
    </application>-->
</manifest>
